$main-color: skyblue;

body {
  background-color: $main-color;
}

body.loading:after{
  content: '';
  display: block;
  position: fixed;
  background-color: rgba(10, 10, 10, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
